{% extends 'layout.html' %}

{% block content %}
   

    <form method="post" class="row needs-validation">
        {% csrf_token %}

        <div class=" col-12 form-group">
            <label for="id_titulo">Título</label>
            {{ form.titulo }}
        </div>
        <div class="col-12 form-group">
            <label for="id_detalles">Detalles</label>
            {{ form.detalles}}
        </div>
        <div class="col-12 form-group">
            <label for="id_detalles">Estado</label>
            {{ form.estado}}
        </div>
      
    
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
{% endblock %}
